Write a Python program that prints numbers from 50 to 1. For each number, if it is **even**, print `"Number X is even"`...
If it is **odd**, print: `"Number X is odd"`

In [1]:
for x in range(50,0, -3):
  if x % 2 == 0:
    print(f"Number {x} is even")
  else:
    print(f"Number {x} is odd")

Number 50 is even
Number 47 is odd
Number 44 is even
Number 41 is odd
Number 38 is even
Number 35 is odd
Number 32 is even
Number 29 is odd
Number 26 is even
Number 23 is odd
Number 20 is even
Number 17 is odd
Number 14 is even
Number 11 is odd
Number 8 is even
Number 5 is odd
Number 2 is even

Write a Python program that asks the user to enter 5 numbers (one by one)... Then print out:
- The total of all the numbers
- How many of them are greater than 10.

In [2]:
numbers = []
count = 0
total = 0
for i in range(0,5):
  x = int(input("ENter a number:"))
  numbers.append(x)

  total += x

  if x > 10:
    count += 1

print("Our sum of all numbers: ", total)
print("Total number that are greater than 10 are ",count)

ENter a number:5
ENter a number:9
ENter a number:12
ENter a number:36
ENter a number:45
Our sum of all numbers:  107
Total number that are greater than 10 are  3

Write a Python program that prints the multiplication table of any number between 1 and 10.

Print the table from 1 to 10, like this:

Example Output if num = 7:
```
7 x 1 = 7  
7 x 2 = 14  
7 x 3 = 21  
...  
7 x 10 = 70
```

In [3]:
num = int(input("Enter number "))

for i in range(1,11):
  print(num," x ",i, "= ", i*num)

Enter number 5
5  x  1 =  5
5  x  2 =  10
5  x  3 =  15
5  x  4 =  20
5  x  5 =  25
5  x  6 =  30
5  x  7 =  35
5  x  8 =  40
5  x  9 =  45
5  x  10 =  50

Write a program that prints this pattern but ONLY using FOR or WHILE Loop....

```
*****
****
***
**
*
```

Hint is you multiple string it is repeatedly printed.
Example `"*"*3` has the output of:
`***`

In [4]:
for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

Write a function called calculate_area(length, width) that calculates and prints the area of a rectangle.

Then, call the function two times with different values.

Example Output:
```
Length: 5, Width: 3 → Area = 15  
Length: 10, Width: 2 → Area = 20
```

In [5]:
def calculate_area(length, width):
  area = length * width
  print("Length: ", length, "Width: ", width, "Area = ", area)

In [6]:
calculate_area(5,3)
calculate_area(10,2)

calculate_area(18,2)

Length:  5 Width:  3 Area =  15
Length:  10 Width:  2 Area =  20
Length:  18 Width:  2 Area =  36